name: CMake

on:
  push:
    branches: [ action ]
  pull_request:
    branches: [ action ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: ${{matrix.cxx}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cxx:
          - g++-10
          - clang++-12
    steps:
    - uses: actions/checkout@v2

    - name: install catch2 v3
      run : |
       git clone https://github.com/catchorg/catch2
       cd catch2
       mkdir build
       cd build
       cmake -Bbuild -H. -DBUILD_TESTING=OFF
       sudo cmake --build build/ --target install
       
    - name: Configure CMake
      env:
          CXX: ${{matrix.cxx}}
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}
      
